body {
    margin: auto;
    background-color: #f3f3f3;
}


p {
    font-family: verdana;   
}

table{
    background-color: white;
    border-collapse: collapse;
    border: hidden;
}

a:visited{
    color: grey;
}

.header{
    height: 30px;
    background-color: #3e3333;
}

.logo{
    vertical-align: -webkit-baseline-middle;
    color: white;
    font-family: cursive;
}

.menu_courses{ 
    vertical-align: -webkit-baseline-middle;
    color: white;
    text-decoration: none;
 }

.menu_user{
    vertical-align: -webkit-baseline-middle;
    margin-right: 20px;    
    color: white;
    text-decoration: none;
}

.search{
    display: inline-block;
}

.search_form{
    border: 1px solid #d6d3d3;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    padding-left: 40px;
    margin-bottom:20px;
    width:150px;
}

.add_user{
    margin-top: -5px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.search_button{
    position: absolute;   
    z-index: 1;
    height: 34px;
}
    
.user_head{
     position: absolute;    
    display: inline-block;
    margin-top: -60px;   
    font-size: 1.5em;
    font-weight: bold;    
    left: 45%;
    font-family: sans-serif;
}
   

.wrapper{
    margin: auto;
    width: 70%;
    position: relative;
}

.user_list_header{
    position: relative;
    margin: 30px 0;
}

.reco{
    position: absolute;
    right: 0;
    margin-top: -55px;
}

.reco_field{    
    border: 1px solid #d6d3d3;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:80px;
}

.menu{
    position: absolute;
    right: 0
}


.table_h{
    background-color: #4e4e4e;
    color: white;
    height: 35px;
    font-size: 0.8em;
    font-weight: normal;
    font-family: sans-serif;
    vertical-align: middle;
}

.table_users{
    width: 100%;
    font-size: 1.1em;
}

.t_col{
    width: 30%;
}

.action{
    width: 10%;
}

tr{    
    border-top: solid;
    border-top-color: #f3f3f3;
}

td{
    padding-left: 2%;
}

th{
    text-align: left;
    padding-left: 2%;
}

ul{
    list-style-type: none;
    display: table;
    margin: 20px auto;
}

li{
    display: inline-block;     
    border: 1px solid #d6d3d3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    color: green;
    background-color: white;
}

li a{
    text-decoration: none;
    color: gray;
}

.active a{
    color: green;
}


li.previous.disabled{
    background-color: grey;
    color: white;
}

li.previous.disabled a{
    background-color: grey;
    color: white;
}

li.previous {
    background-color: green;
    color: white;
}

li.previous a{    
    color: white;
}


.next {
    background-color: green;
    color: white;
}

li.next.disabled{
    background-color: grey;
    color: white;
}

.next a{
    color: white;
}

.icon_direction{
    margin-top: 20px;
    width: 34px;
}

.form_add_user{
    margin: 0 auto;
    display: table;
    position: relative;
}

.cr_user_logo{
    margin: 0 auto;
    display: table;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

dd input, dd select{
     border: 1px solid #d6d3d3;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:300px;
}

 dd select{
    width: 320px;
 }

 label{
    margin-left: 40px; 
 }
 
 dl{
  -webkit-margin-after: 0;  
 }   


.create_but{
    border: 1px solid #d6d3d3;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding: 10px 20px;
    margin-bottom:20px;
    background-color: green;
    position: absolute;
    right: 0;
    color: white;
}

.errors{
    color: red;    
    display: inline;
    position: absolute;
    margin: 0;    
    right: 0;
    margin-right: -165px;
    margin-top: -48px;
}


.add_courses_list{
    -webkit-margin-start: 40px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    position: relative;
}

.add_courses_list a{
    text-decoration: none;
}

div.add_courses_list::nth-last-child(1){
    border: none;
}

.course_delede{
    color: grey;
    display: inline-block;
    position: absolute;
    right: 0;
}

.select_add select{
    width: 250px;
}


.add_course_im{
    margin-left: 25px;
    margin-bottom: -10px;
}

.courses_page_header{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#msg{
    color: green;
    border: 1px solid green;    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding: 10px 20px;
    margin-bottom:20px;
    background-color: white; 
    position: fixed;   
    right: 0;    
    margin-right: 20px;
    top: 80px;    
}