{% macro render_field(field) %}
  <div>
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  </dd>
  {% if field.errors %}
    {% if field.label.text == "*E-mail" %}
      <p class=errors_email>
        {% for error in field.errors %}
          !&nbsp;&nbsp;&nbsp;{{ error }}
        {% endfor %}
      </p>
    {% else %}
      <p class=errors>
        {% for error in field.errors %}
          !&nbsp;&nbsp;&nbsp;{{ error }}
        {% endfor %}
      </p>
    {% endif %}
  {% endif %}
  </div>  
{% endmacro %}