{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<a href="http://localhost:5000/"><img class="icon_direction" src="/static/img/icon_directionalleft.png"></a>
<span class="cr_user_logo">CHANGE USER</span>
    {% if msg %}
    <div id="msg">
      {{ msg }}
    </div>
    {% endif %}
<form class="form_add_user" method=post>
  <dl> 
    <dt>{{ form.name.label }}</dt>
    <dd>{{ form.name(disabled=True) }}</dd>
    {{ form.name(type="hidden") }}
    {{ render_field(form.email) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.m_phone) }}
    {{ render_field(form.status) }}
  </dl>  
    {% if courses_fr %}
    <div>
      <dt><label>Courses</label></dt>
      <dd class="select_add">
          <select id="courses_select">    
              {% for key in courses_fr %}      
                <option value="{{key}}">{{courses_fr[key]}}</option>
              {% endfor %}
          </select>        
      <a id="add_course" href=""><img class="add_course_im" src="/static/img/icon_add.png" width="34px" alt="Add User"></a>
      </dd>   
    </div>
   {% endif %}
  {% if courses %}
    {% for courses in courses %}
      <div class="add_courses_list">
        {{courses[1]}}  <a href='http://localhost:5000/user/{{user_id}}/{{courses[2]}}/delete'><span class="course_delede">&otimes;</span></a>
      </div>
    {% endfor %}
   {% endif %}
  <p><input class="create_but" type=submit value=Save>
</form>
<script type=text/javascript>
var select = document.getElementById('courses_select')
for (var i = 0; i < select.options.length; i++) {
  var option = select.options[i];
  if(option.selected) {
    var key = option.value;
  }
}
var url_add = "http://localhost:5000/user/2/"+key+"/add"
document.getElementById('add_course').href = url_add;
</script>
{% endblock %}