{% extends "base.html" %}
{% block body %}
    <div class="user_list_header">
      <div>
        <a class="add_user" href='http://localhost:5000/user/add'><img src="/static/img/icon_plus.png" width="34px" alt="Add User"></a>
        <form class="search">         
            <input class="search_button" type="image" src="/static/img/icon_search.png" alt="Search">
            <input  class="search_form" type="search" name="sname" placeholder="Search field">
            <span class="user_head">USERS</span>             
            <span class="reco">
              <select class="reco_field" name="records" id="res" onchange="form.submit()">
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
              </select>
            </span>          
        </form> 
      </div>     
    </div>
    <table class="table_users">
      <tr class="table_h">    
        <th class="t_col">NAME</th>
        <th class="t_col">E-MAIL</th>
        <th class="t_col">STATUS</th>
        <th class="action">ACTION</th>
      </tr>
        {% if users %}
          {% for user in users %}
              <tr>
                  <td>{{ user[1] }}</td>
                  <td>{{ user[2] }}</td>            
                  <td>
                    {% if user[5] %}
                      <span style="color: green">Active</span> 
                    {% else %}
                      <span style="color: red">Inactive</span> 
                    {% endif %}
                  </td>            
                  <td class="action"><a href='http://localhost:5000/user/{{ user[0] }}'><img src="/static/img/icon_feather-pen.png"></a>
                      <a href='http://localhost:5000/user/{{ user[0] }}/delete'><img src="/static/img/icon_delete.png"></a>
                  </td>
              </tr>
          {% endfor %}
        {% else %}
          ADD USER
        {% endif %}
    </table>
   {% if pagination %}
    {{ pagination.links }}
   {% endif %}
<script type=text/javascript>
var tmp = [];
var tmp2 = [];
var get = location.search;
if (get != '') {
  tmp = (get.substr(1)).split('&');
  for (var i = 0; i < tmp.length; i++) {
    tmp2.push(tmp[i].split('='));}
}
for (var i = 0; i < tmp2.length; i++) {
  if (tmp2[i][0] == "records") {
    var nrec = tmp2[i][1];
    break;
  };
}
switch (nrec) {
    case "15":
        f = 1;
        break; 
    case "20":
        f = 2;
        break; 
    default: 
        f = 0;
}
 document.getElementById("res").options[f].selected = true;
 </script>
{% endblock %}