{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<a href="http://localhost:5000/"><img class="icon_direction" src="/static/img/icon_directionalleft.png"></a>
<span class="cr_user_logo">CHANGE USER</span>
<form class="form_add_user" method=post>
  <dl> 
    <dt>{{ form.name.label }}</dt>
    <dd>{{ form.name(disabled=True) }}</dd>
    {{ form.name(type="hidden") }}
    {{ render_field(form.email) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.m_phone) }}
    {{ render_field(form.status) }}
  </dl>  
    {% if courses_fr %}      
      {% for key in courses_fr %}      
        <li>{{courses_fr[key]}}<a href='http://localhost:5000/user/{{ user_id }}/{{key}}/add'>+</a></li>     
      {% endfor %}
   {% endif %}
  {% if courses %}
    {% for courses in courses %}
      {{courses[1]}}  <a href='http://localhost:5000/user/{{ user_id }}/{{courses[2]}}/delete'>x</a></li>
    {% endfor %}
   {% endif %}
  <p><input class="create_but" type=submit value=Save>
</form>
{% endblock %}